<link rel="stylesheet" href="{{ asset('css/DoneList.css') }}"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<html>
<head>
    <title>Done list</title>
</head>
<body>
<div class="background"></div>
<form action="/home">
    <input class="button" type="submit" value="Back to home page"/>
</form>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-aqua">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="ion ion-clipboard"></i>
                    <div class="title">
                        <h2 class="titlestyle">All your done tasks:</h2>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="todo-list ui-sortable">
                        {% for item in result %}
                            <li>
                                <h2><i class="fa fa-check"></i>Done</h2>
                                <span class="text">Name : {{ item.name }}</span><br>
                                <span class="desc">Description : {{ item.description }}</span><br>
                                <span class="deadln">Deadline : {{ item.duedate }}</span><br>
                                <br>
                            </li>
                            <br>
                        {% else %}
                            <h3 style="color: white"> It seems you didn't complete any tasks, go and finish one now
                                :)</h3>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>