<link rel="stylesheet" href="{{ asset('css/DoneList.css') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container bootstrap snippet">
    <div class="row">
        <ul class="notes">
            <li>
                <div class="rotate-1 lazur-bg">
                    <small>2017-04-12 12:03</small>
                    <h3><i class="fa fa-check"></i>Done</h3>
                    <h4>Task name1</h4>
                    <p>Description: </p>
                    <p>Deadline: </p>

                </div>
            </li>
            <li>
                <div class="rotate-2 red-bg">
                    <small>2017-04-12 12:03</small>
                    <h3><i class="fa fa-check"></i>Done</h3>
                    <h4>Task name2</h4>
                    <p>Description: </p>
                    <p>Deadline: </p>

                </div>
            </li>
            <li>
                <div class="rotate-1 yellow-bg">
                    <small>2017-04-12 12:03</small>
                    <h3><i class="fa fa-check"></i>Done</h3>
                    <h4>Task name3</h4>
                    <p>Description: </p>
                    <p>Deadline: </p>

                </div>
            </li>
        </ul>
    </div>
</div>