<link rel="stylesheet" href="{{ asset('css/DoneList.css') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Completed tasks</title>
</head>
<body>
<h3>All your completed tasks:</h3>
<div class="container bootstrap snippet">
    <div class="row">
        <ul class="notes">
            {% for item in result %}
            <li>
                <div class="rotate-1 lazur-bg">
                    <small>2017-04-12 12:03</small>
                    <h3><i class="fa fa-check"></i>Done</h3>
                    <h3>{{ item.name }}</h3>
                    {{ item.description }}<br>
                    {{ item.duedate }}<br><br>
                </div>
            </li>
            {% else %}
                <h3> It seems you have no completed tasks, maybe you should start working now? :)</h3>
            {% endfor %}
        </ul>
    </div>
</div>