<link rel="stylesheet" href="{{ asset('css/todo.css') }}"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<html>
<head>
    <title>This is your homepage</title>
</head>
<body>
<div class="background"></div>
<form action="/create">
    <input class="button" type="submit" value="Create a new task"/>
</form>
<form action="/DoneList">
    <input class="button" type="submit" value="See done list"/>
</form>
<form action="/logout">
    <input class="button" type="submit" value="Log me out"/>
</form>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-aqua">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="ion ion-clipboard"></i>
                    <div class="title">
                        <h2 class="titlestyle">All your available tasks:</h2>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="todo-list ui-sortable">
                        {% for item in result %}
                            <li>
                                <span class="text">Name : {{ item.name }}</span><br>
                                <span class="desc">Description : {{ item.description }}</span><br>
                                <span class="deadln">Deadline : {{ item.duedate }}</span><br>
                                <button class="checkAll"><i class="fa fa-exclamation"
                                                            style="font-size:16px"></i> Late
                                </button>
                                <button class="checkAll"><i class="fa fa-check" style="font-size:16px"></i>
                                    DONE
                                </button>
                                <button class="checkAll"><i class="fa-trash-o" style="font-size:16px"></i>
                                    Delete
                                </button>
                                <br>
                            </li><br>
                        {% else %}
                            <h3> It seems you have no active tasks, create one now :)</h3>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>