<link rel="stylesheet" href="{{ asset('css/StickyNotes.css') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Late tasks</title>
</head>
<body>
<h3>You are currently late for these tasks:</h3>
<div class="container bootstrap snippet">
    <div class="row">
        <ul class="notes">
            {% for item in result %}
            <li>
                <div class="rotate-2 red-bg">
                    <h3>{{ item.name }}</h3>
                    {{ item.description }}<br>
                    {{ item.duedate }}<br><br>

                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-check" style="font-size:16px"></i> DONE
                    </button>
                </div>
            </li>
            {% else %}
                <h3> Congratulations, you are not late for any tasks :)</h3>
            {% endfor %}
        </ul>
    </div>
</div>