<link rel="stylesheet" href="{{ asset('css/StickyNotes.css') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container bootstrap snippet">
    <div class="row">
        <ul class="notes">
            <li>
                <div class="rotate-2 red-bg">
                    <h3>Task:</h3>
                    <h4><i class="fa fa-paper-plane-o" style="font-size:16px"></i> DB</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-spinner fa-spin"
                                                                    style="font-size:16px"></i> In progress
                    </button>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-check" style="font-size:16px"></i> DONE
                    </button>
                </div>
            </li>
            <li>
                <div class="rotate-1 yellow-bg">
                    <h3>Task:</h3>
                    <h4><i class="fa fa-paper-plane-o" style="font-size:16px"></i> To do project</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-spinner fa-spin"
                                                                    style="font-size:16px"></i> In progress
                    </button>
                    </button>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-check" style="font-size:16px"></i> DONE
                    </button>
                </div>
            </li>
            <li>
                <div class="rotate-2 red-bg">
                    <h3>Task:</h3>
                    <h4><i class="fa fa-paper-plane-o" style="font-size:16px"></i> To do homework</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-spinner fa-spin"
                                                                    style="font-size:16px"></i> In progress
                    </button>
                    </button>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-check" style="font-size:16px"></i> DONE
                    </button>
                </div>
            </li>
            <li>
                <div class="rotate-1 yellow-bg">
                    <h3>Task:</h3>
                    <h4><i class="fa fa-paper-plane-o" style="font-size:16px"></i> Car repair</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-spinner fa-spin"
                                                                    style="font-size:16px"></i> In progress
                    </button>
                    </button>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-check" style="font-size:16px"></i> DONE
                    </button>
                </div>
            </li>
            <li>
                <div class="rotate-2 lazur-bg">
                    <h3>Task:</h3>
                    <h4><i class="fa fa-paper-plane-o" style="font-size:16px"></i> Shopping</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-spinner fa-spin"
                                                                    style="font-size:16px"></i> In progress
                    </button>
                    </button>
                    <button id="checkAll" class="btn btn-danger"><i class="fa fa-check" style="font-size:16px"></i> DONE
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>