<link rel="stylesheet" href="{{ asset('css/StickyNotes.css') }}"/>
<div class="container bootstrap snippet">
    <div class="row">
        <ul class="notes">
            <li>
                <div class="rotate-1 size lazur-bg">
                    <h3><label for="exampleTextarea">Add task:</label></h3>
                    <label for="exampleTextarea"> Task name:</label>
                    <input type="text" class="form-control add-todo" placeholder="Task name"><br><br>
                    <label for="exampleTextarea"> Description about the task:</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"
                              placeholder="Write description"></textarea><br><br>
                    <label for="exampleTextarea"> Deadline:</label>
                    <input type="text" class="form-control add-todo" placeholder="Write deadline"><br>
                    <button id="checkAll" class="btn btn-danger">Submit</button>
                </div>
            </li>
            <li>
                <div class="rotate-2 red-bg">
                    <h3>Task:</h3>
                    <h4>DB</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger">In progress</button>
                    <button id="checkAll" class="btn btn-danger">Late</button>
                    <button id="checkAll" class="btn btn-danger">DONE</button>
                </div>
            </li>
            <li>
                <div class="rotate-1 yellow-bg">
                    <h3>Task:</h3>
                    <h4>To do project</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger">In progress</button>
                    <button id="checkAll" class="btn btn-danger">Late</button>
                    <button id="checkAll" class="btn btn-danger">DONE</button>
                </div>
            </li>
            <li>
                <div class="rotate-2 red-bg">
                    <h3>Task:</h3>
                    <h4>To do homework</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger">In progress</button>
                    <button id="checkAll" class="btn btn-danger">Late</button>
                    <button id="checkAll" class="btn btn-danger">DONE</button>
                </div>
            </li>
            <li>
                <div class="rotate-1 yellow-bg">
                    <h3>Task:</h3>
                    <h4>Car repair</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger">In progress</button>
                    <button id="checkAll" class="btn btn-danger">Late</button>
                    <button id="checkAll" class="btn btn-danger">DONE</button>
                </div>
            </li>
            <li>
                <div class="rotate-2 lazur-bg">
                    <h3>Task:</h3>
                    <h4>Shopping</h4><br>
                    Description:<br>
                    Deadline:<br><br>
                    <button id="checkAll" class="btn btn-danger">In progress</button>
                    <button id="checkAll" class="btn btn-danger">Late</button>
                    <button id="checkAll" class="btn btn-danger">DONE</button>
                </div>
            </li>
        </ul>
    </div>
</div>